table#dataTables-example.table.table-striped.table-bordered.table-hover(width='100%')
	thead
		tr
			th Ord
			th Function Name
			th Total
			th Percent
	tbody
		tr.even
			td(align="right") 1
			td function()
			td(align="right") 40,911
			td(align="right") 67.75%
		tr.odd
			td(align="right") 2
			td createTokenProxy
			td(align="right") 15,482
			td(align="right") 25.64%
		tr.even
			td(align="right") 3
			td approve
			td(align="right") 3,994
			td(align="right") 6.61%
