table#dataTables-example.table.table-striped.table-bordered.table-hover(width='75%')
	thead
		tr
			th Address
			th Transactions per Day
	tbody
		tr.even
			td <font face="Courier"><a target=_blank href="https://etherscan.io/address/0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98">0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98</a></font>
			td <font face="Courier">2016-04-30 (310), 2016-05-02 (100), 2016-05-04 (200), 2016-05-08 (300), 2016-05-09 (200), 2016-05-11 (500), 2016-05-13 (200), 2016-05-14 (200), 2016-05-17 (350), 2016-05-21 (250), 2016-05-25 (100), 2016-05-26 (350), 2016-05-27 (800)</font>
		tr.odd
			td <font face="Courier"><a target=_blank href="https://etherscan.io/address/0xdf21fa922215b1a56f5a6d6294e6e36c85a0acfb">0xdf21fa922215b1a56f5a6d6294e6e36c85a0acfb</a></font>
			td <font face="Courier">2016-05-28 (1100)</font>
		tr.even
			td <font face="Courier"><a target=_blank href="https://etherscan.io/address/0x229eac73be7c000ce3ea2375bf5e0bda41689ec9">0x229eac73be7c000ce3ea2375bf5e0bda41689ec9</a></font>
			td <font face="Courier">2016-05-26 (49), 2016-05-27 (22), 2016-05-28 (8), 2016-05-18 (2), 2016-05-17 (1)</font>
		tr.odd
			td <font face="Courier"><a target=_blank href="https://etherscan.io/address/0x89f4a7d4d7a163bc9f45e2e1e216b7f40ce79af5">0x89f4a7d4d7a163bc9f45e2e1e216b7f40ce79af5</a></font>
			td <font face="Courier">2016-05-17 (1), 2016-05-18 (1), 2016-05-19 (1), 2016-05-24 (10), 2016-05-25 (7), 2016-05-26 (14), 2016-05-27 (19), 2016-05-28 (7)</font>
