table#dataTables-example.table.table-striped.table-bordered.table-hover(width='100%')
	thead
		tr
			th Ord
			th Function Name
			th Total
			th Percent
	tbody
		tr.even
			td(align="right") 1
			td function()
			td(align="right") 41,714
			td(align="right") 66.35%
		tr.odd
			td(align="right") 2
			td createTokenProxy
			td(align="right") 16,043
			td(align="right") 25.52%
		tr.even
			td(align="right") 3
			td approve
			td(align="right") 5,106
			td(align="right") 8.12%
		tr.odd
			td(align="right") 4
			td other
			td(align="right") 10
			td(align="right") 0.02%
		tr.even
			td(align="right") 5
			td total
			td(align="right") 62,873
			td(align="right") 100.00%
