table#dataTables-example.table.table-striped.table-bordered.table-hover(width='100%')
	thead
		tr
			th(colspan="4")
			th(colspan="4") <center>Periods</center>
		tr
			th Ord
			th Functional Group
			th Function Name
			th Total
			th Creation
			th Operational
			th Post-Hack
			th Recovery
	tbody
		tr.even
			td(align="right") 1
			td Creation/Direct
			td function()
			td(align="right") 41,808
			td(align="right") 41,714
			td(align="right") 0
			td(align="right") 19
			td(align="right") 64
		tr.odd
			td(align="right") 2
			td Transfer/TransferFrom
			td transfer
			td(align="right") 37,533
			td(align="right") 0
			td(align="right") 14,803
			td(align="right") 15,209
			td(align="right") 6,701
		tr.even
			td(align="right") 3
			td Approvals
			td approve
			td(align="right") 29,599
			td(align="right") 5,106
			td(align="right") 7,957
			td(align="right") 3,218
			td(align="right") 11,871
		tr.odd
			td(align="right") 4
			td Transfer/TransferFrom
			td transferFrom
			td(align="right") 20,575
			td(align="right") 0
			td(align="right") 9,759
			td(align="right") 8,610
			td(align="right") 2,058
		tr.even
			td(align="right") 5
			td Creation/Direct
			td createTokenProxy
			td(align="right") 16,043
			td(align="right") 16,043
			td(align="right") 0
			td(align="right") 0
			td(align="right") 0
		tr.odd
			td(align="right") 6
			td Withdraw Contract
			td withdraw
			td(align="right") 10,789
			td(align="right") 0
			td(align="right") 0
			td(align="right") 1
			td(align="right") 9,781
		tr.even
			td(align="right") 7
			td Proposals/Voting
			td vote
			td(align="right") 5,347
			td(align="right") 0
			td(align="right") 3,824
			td(align="right") 1,493
			td(align="right") 30
		tr.odd
			td(align="right") 8
			td Proposals/Voting
			td newProposal (split)
			td(align="right") 268
			td(align="right") 0
			td(align="right") 111
			td(align="right") 132
			td(align="right") 23
		tr.even
			td(align="right") 9
			td Proposals/Voting
			td splitDAO
			td(align="right") 128
			td(align="right") 0
			td(align="right") 51
			td(align="right") 77
			td(align="right") 0
		tr.odd
			td(align="right") 10
			td Withdraw Contract
			td trusteeWithdraw
			td(align="right") 97
			td(align="right") 0
			td(align="right") 0
			td(align="right") 0
			td(align="right") 91
		tr.even
			td(align="right") 11
			td Other
			td refund
			td(align="right") 58
			td(align="right") 7
			td(align="right") 3
			td(align="right") 8
			td(align="right") 40
		tr.odd
			td(align="right") 12
			td Other
			td unblockMe
			td(align="right") 40
			td(align="right") 0
			td(align="right") 10
			td(align="right") 27
			td(align="right") 3
		tr.even
			td(align="right") 13
			td Proposals/Voting
			td newProposal (non-split)
			td(align="right") 30
			td(align="right") 0
			td(align="right") 11
			td(align="right") 16
			td(align="right") 0
		tr.odd
			td(align="right") 14
			td Other
			td receiveEther
			td(align="right") 27
			td(align="right") 1
			td(align="right") 0
			td(align="right") 14
			td(align="right") 11
		tr.even
			td(align="right") 15
			td Other
			td transferWithoutReward
			td(align="right") 18
			td(align="right") 0
			td(align="right") 6
			td(align="right") 12
			td(align="right") 0
		tr.odd
			td(align="right") 16
			td Other
			td getMyReward
			td(align="right") 14
			td(align="right") 1
			td(align="right") 4
			td(align="right") 5
			td(align="right") 4
		tr.even
			td(align="right") 17
			td Other
			td retrieveDAOReward
			td(align="right") 9
			td(align="right") 0
			td(align="right") 1
			td(align="right") 2
			td(align="right") 4
		tr.odd
			td(align="right") 18
			td Admin
			td executeProposal
			td(align="right") 8
			td(align="right") 0
			td(align="right") 1
			td(align="right") 7
			td(align="right") 0
		tr.even
			td(align="right") 19
			td Other
			td balanceOf
			td(align="right") 6
			td(align="right") 0
			td(align="right") 0
			td(align="right") 6
			td(align="right") 0
		tr.odd
			td(align="right") 20
			td Admin
			td checkProposalCode
			td(align="right") 1
			td(align="right") 1
			td(align="right") 0
			td(align="right") 0
			td(align="right") 0
		tr.even
			td(align="right") 21
			td Admin
			td halveMinQuorum
			td(align="right") 1
			td(align="right") 0
			td(align="right") 1
			td(align="right") 0
			td(align="right") 0
		tr.odd
			td(align="right") 22
			td Admin
			td newContract
			td(align="right") 1
			td(align="right") 0
			td(align="right") 0
			td(align="right") 0
			td(align="right") 1
