extends nav/layout

block content
	style.
		thead { background-color:lightgray; border:1px solid black }
		tbody { border:1px solid black }
		tr { border:1px solid black; }

	#page-wrapper
		.row
			.col-lg-12
				h1.page-header The DAO - Curator Multisig
		.row
			.col-lg-12
				include sumCurator_table.jade

		include nav/navFooter.jade

	script(src='bower_components/datatables/media/js/jquery.dataTables.min.js')
	script(src='bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
	script(src='bower_components/datatables-responsive/js/dataTables.responsive.js')
	script.
		$(document).ready(function() {
		$('#dataTables-example').DataTable({
		responsive: true,
		order: [[ 0, 'desc' ]]
		});
		});
