.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.333333%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-8 {
  width: 66.66666667%;
}
.col-lg-12 {
  width: 100%;
}
