#footer
	.row
		hr
		center
			small
				i
					| powered by&nbsp;
					a(href='http://www.ethslurp.com', target="_blank") EthSlurp
					br
					| Copyright © 2016 - Great Hill Corporation
				p &nbsp;

	script(src='bower_components/jquery/dist/jquery.min.js')
	script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='bower_components/metisMenu/dist/metisMenu.min.js')
	script(src='dist/js/sb-admin-2.js')
